# ================================
# Python bytecode / cache
# ================================
__pycache__/
*.py[cod]
*.pyc

# ================================
# Virtual environments
# ================================
.env
.venv
env/
venv/

# ================================
# VS Code
# ================================
.vscode/

# ================================
# Logs
# ================================
logs/
*.log

# ================================
# OS files
# ================================
Thumbs.db
.DS_Store

# ================================
# MLflow (NO versionar)
# ================================
mlruns/
src/mlruns/
mlflow.db
src/mlflow.db

# ================================
# Model artifacts (PyTorch)
# ================================
*.pth
*.pt